/*ccs styles */
<style>
body {
     background-image: url("/Fondos/Main/Marble5.jpg");
}
header {

}
footer {

}
h1{
  font-family: luminari;
  font-size: 45px;


}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
</style>
